@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:ital,wght@1,100&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F9F8FF;
}

h2{
    position: relative;
    font-size: 8vw;
    color: #bd5d38;
    -webkit-text-stroke: 0.2vw#000000;
    text-transform: uppercase;
}
 h2:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw#020202;
    border-right: 1px solid #000000;
    overflow: hidden;
    animation: animate 4s linear infinite;
 }

 @keyframes animate {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
 }